# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

basically list which keep data in a order / sequence. of other data types like: string,floating,integer

Lists are constructed with brackets [] and commas separating every element in the list.

In [1]:
# Assign a list to an variable named new_list
new_list = [1,2,3,4]

In [2]:
new_list

[1, 2, 3, 4]

here we have  created a list of integers, 
but lists can actually hold different object types like :string,integer,floatng point. For example:

In [73]:
new_list = ["strings",99,2.01]

In [74]:
new_list

['strings', 99, 2.01]

In [5]:
# just like string you can also use len() function in list

In [75]:
len(new_list)

3

because here 
new_list = ["strings",99,2.01]
                 |     |   |
                 1     2   3

### Indexing and Slicing
Indexing and slicing work just like in strings.

In [8]:
n_list = ["a","b","c"]

In [9]:
n_list[0]

'a'

# so here indexing for n_list
a b c
| | |
0 1 2

In [11]:
m_list = ["hi",1,2,"ayush"]

In [13]:
m_list[3]

'ayush'

In [17]:
m_list[:4]

['hi', 1, 2, 'ayush']

#Add/Change List Elements

Lists are mutable, meaning their elements can be changed unlike string 

We can use the assignment operator = to change an item or a range of items.

In [18]:
les = [1,"a","b","d"]

In [19]:
les[3] =  "c"

In [20]:
les                   # this is permanent!

[1, 'a', 'b', 'c']

### We can also use + to concatenate lists, just like we did for strings.

In [79]:
one_list = ["hi","ayush"]
two_list = ["how","is","going"]

In [80]:
one_list + two_list

['hi', 'ayush', 'how', 'is', 'going']

In [77]:
# to get a final joint list

In [81]:
new_list = one_list + two_list
new_list

['hi', 'ayush', 'how', 'is', 'going']

In [31]:
# merging two different type of list 
# j ---> integer
# h ----> string

In [29]:
j = [12,22]
h = ["ah"]
a = j + h
a

[12, 22, 'ah']

adding new items in the list

In [44]:
x_list = [1,2]

In [51]:
x = x_list + ['y']

In [55]:
x

[1, 2, 'y']

duplicating the list       #you can also use this method for string
method:
name_of_list*n     { here n = no of duplication as you want }

In [59]:
x*2

[1, 2, 'y', 1, 2, 'y']

In [60]:
x*3                         #tripling

[1, 2, 'y', 1, 2, 'y', 1, 2, 'y']

In [61]:
# this method is not permanent

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a 

two good reasons: 
they have no fixed size (meaning we don't have to specify how big a list will be), 

and they have no fixed type constraint (like we've seen above).

### .append() method

In [63]:
# so i want to add something in this list permanently at the end of the list

In [62]:
llist = [1,2,3,4]

In [67]:
llist.append(5)

In [65]:
llist

[1, 2, 3, 4, 5]

In [68]:
#adding string in the list using .append() method

In [69]:
llist.append("ayush")

In [70]:
llist

[1, 2, 3, 4, 5, 5, 'ayush']

### .pop() method

Use **pop** to "remove" an item from the list. By default pop takes off the last index, but you can also specify which 

index to pop off. Let's see an example:

In [73]:
# Pop off the 4th indexed item
llist.pop(4)

5

In [74]:
llist

[1, 2, 3, 4, 5, 'ayush']

In [75]:
llist.pop()   #by default pop start indexing at -1 meaans reverse indexing

'ayush'

In [77]:
llist          # it is a permanent

[1, 2, 3, 4, 5]

In [78]:
llist.pop(11)   # the pop method will show error if their is no elemebt present at defined indexing

IndexError: pop index out of range

##                                            or

### .remove () method

In [41]:
#removes an item from any position in the list

In [84]:
geek_alpha = ["α","β","γ"]

In [86]:
geek_alpha.remove("β")

In [40]:
geek_alpha

['α', 'γ']

In [14]:
                          #or

Deleting list items 
del list-name [index no.]

In [88]:
ls = [1,3,5,8]

In [89]:
del ls[2]     # it will going to delete element no. at index 2 which is 5 here

In [90]:
ls

[1, 3, 8]

### .sort() method

In [79]:
# this method will going to arranged a list in order {universal order of alphabat (a-z),number (-infinity-0-infinity)}

In [80]:
s_list = [2,5,3,1,4]

In [81]:
s_list.sort()              # it is also permanent

In [82]:
s_list

[1, 2, 3, 4, 5]

In [3]:
a_list = ["b","a","d","c"]

In [4]:
a_list.sort()
a_list

['a', 'b', 'c', 'd']

In [88]:
name_list =["ayush","kajal","aanchal","ashok","gunamal"]
name_list.sort()
name_list

['aanchal', 'ashok', 'ayush', 'gunamal', 'kajal']

### .reverse() method

In [89]:
# this method will going to reverse all element in list

In [91]:
r_list = [1,2,3,4,5]

In [94]:
r_list.reverse()

In [95]:
r_list    # it is also permanent

[5, 4, 3, 2, 1]

In [5]:
a_list.reverse()

In [6]:
a_list

['d', 'c', 'b', 'a']

In [13]:
a_list.sort()
a_list[::-1]  # you can also use this method to reverse a list

['d', 'c', 'b', 'a']

### .extend() method

In [ ]:
# this method will going to merge list's and going to add the list elements at the end of the new list
                                     or
#adds all elements of a list to another list

In [20]:
num = [1,2,3,4]

In [21]:
alpha = ["a","b","c"]

In [22]:
num.extend(alpha)

In [23]:
num # it is peremanet change

[1, 2, 3, 4, 'a', 'b', 'c']

In [ ]:
#you can also use mutable process but it will going to long.so skip using it

### .insert() method

method : 
list_name.insert(index position , "element(strings)"/integer)
index position means place in list  where you want to add element

In [24]:
vowel = ["a","i","o","u"]

In [25]:
vowel.insert(1 , "e")

In [26]:
vowel

['a', 'e', 'i', 'o', 'u']

### .clear()  method

In [ ]:
#removes all items from the list

In [91]:
your_list = [1,2,3,4,5]

In [43]:
your_list.clear()

In [44]:
print(your_list)

[]

In [94]:
     #    or

In [92]:
your_list[:] = [] /

In [93]:
your_list

[]

### .index () method

In [45]:
#returns the index of the first matched item

In [46]:
animals = ['cat', 'rat', 'bat']

In [48]:
animals.index("rat")

1

In [49]:
animals.index("lion")     #becuase this list do not have element "lion"

ValueError: 'lion' is not in list

### .count() method

In [ ]:
#returns the count of the number of items passed as an argument

In [95]:
random = ["dad","mad","dad"]

In [54]:
random.count("dad")

2

In [ ]:
#becuase above list have dad element 2 times

### .copy () method

In [ ]:
# this method will going to copy any preassigned list items

In [55]:
list1 = [1,2,3,4]

In [58]:
list2 = list1.copy()
print(list2)

[1, 2, 3, 4]

List copy using `=` symbol/operator
We can also use the = operator to copy a list

In [62]:
L1=[1,2,3]
L2 = L1
print(L2)

[1, 2, 3]

## Nesting Lists
A great feature of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

it means this feature will going to add a list in another list as a sub list 
L1 = ["x","y"]
L2 = [1,2,3]

L = [L1,L2]

In [63]:
planet = ["earth","mars","venus"]

In [64]:
earth = ["air","water"]

In [65]:
galaxy = [planet,earth]

In [66]:
galaxy

[['earth', 'mars', 'venus'], ['air', 'water']]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the galaxy object, and then the items inside that list!

In [68]:
# Grab first item in galaxy list object
galaxy[0]

['earth', 'mars', 'venus']

In [69]:
# Grab first item of the first item in the galaxy list object
galaxy[0][0]

'earth'

so their will be two level of indexing here
[['earth', 'mars', 'venus'], ['air', 'water']]
     |        |       |         |       |
     0        1       2         0       1
     |________________|         |_______|  
              0                     1

 more detailes
https://www.learnbyexample.org/python-nested-list/

# List Comprehensions 
going to learn after  loop